*{
  padding: 0px;
  margin: 0px;
 
}

.logo-text-div{
  position: relative;
  width: 103px;
  display: flex;
  justify-content: flex-end;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  color: rgba(59, 59, 247, 0.87);
  padding-left: 20px;
}
.logo-image-div{
  position: absolute;
  top: -26px;
  left: -40px;
}
nav{
  background-color: white;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
  
}

nav ul{
  
  list-style: none;
  width:100%;
  display: flex;
  align-items: center;
  position: fixed;  
  top: 0;
  z-index: 999;



  background-color: white;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
}
nav li{
  height: 60px;
}
nav a{
  display: flex;
  padding: 0px 30px;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
nav a:hover{
  background-color: #f0f0f0;
}
nav li:first-child {
  margin-right: auto;
  
}
.side-bar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: white;
  z-index: 1000;
  box-shadow: -10px 0px 10px  rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.side-bar li{
  width: 100%;
}
.side-bar a{
  width: 100%;
}
@media(max-width: 560px) {
      .hideOnmobile{
      display: none;
      }
      }
@media(max-width: 560px) {
      .side-bar{
      width: 100%;
      }
      }
