


body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(219, 219, 219);
        color: rgb(70, 70, 70);
        
      }
      .approved-letter-div{
        border:none;
        padding:16px; 
        margin-left:30px;
        margin-right: 30px;
        margin-top: 30px;
        background-color: rgb(255, 255, 255);
        border-radius: 18px;
        position: relative;
      }
      .approved-letter-from,
      .approved-letter-subject,
      .approved-letter-body{
        padding-left: 30px;
        padding-top: 20px;
      }
      .approved-letter-from-user{
        padding-left:45px ;
      }
      .approved-download-button{
        font-size: 13px;
        margin-right: 40px;
        padding: 10px;
        border-radius: 4px;
        border: none ;
        background-color: oklch(0.511 0.262 276.966);
        color: rgb(255, 255, 255);
        cursor: pointer;
        
      }
      .download-button-div{
        display: flex;
        justify-content: flex-end;
      }
      .status-div-approved,
      .status-div-pending,
      .status-div-rejected{
        position: absolute;
        top: 30px;
        right: 56px;
        font-weight: 600;
        border: solid 1px black;
        padding: 10px;
        border-radius: 9px;
        cursor: context-menu;
      }
      .status-div-approved{
        color: green;
       
      }
      .status-div-pending{
        color: orange;

      }
      .status-div-rejected{
        color: red;
        
      }
      .status-tabs{
      display: flex;
      justify-content: center;
      gap: 100px;
      margin-top: 80px;
      }
      .messages{
        margin-right: 30px;
        min-height: 500px;
        margin-left: 30px;
        
        
        background-color:rgb(219, 219, 219);
        
      }
      .tab{
        cursor: pointer;
        color: rgb(0, 0, 0);
        
      }
      
      .home-text, .Dashboard-text{
        cursor: pointer;
      }
      .stage-div{
        position: absolute;
        top: 30px;
        right: 170px;
        font-weight: 600;
        border: solid 1px black;
        padding: 10px;
        border-radius: 9px;
        cursor: context-menu;
      }