


body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(255, 255, 255);
        color: rgb(49, 49, 49);
        min-height: 100vh;
      }
      .approved-letter-div{
        border:none;
        padding:16px; 
        margin-left:30px;
        margin-right: 30px;
        margin-top: 30px;
        background-color: rgb(241, 241, 241);
        border-radius: 18px;
        position: relative;
        border: solid 0px rgb(218, 218, 218) ;
      }
      .approved-letter-from,
      .approved-letter-subject,
      .approved-letter-body{
        padding-left: 30px;
        padding-top: 20px;
      }
      .approved-letter-from-user{
        padding-left:45px ;
      }
      .approved-download-button{
        font-size: 13px;
        margin-right: 40px;
        padding: 10px;
        border-radius: 4px;
        border: none ;
        background-color: oklch(0.511 0.262 276.966);
        color: rgb(255, 255, 255);
        cursor: pointer;
        
      }
      .download-button-div{
        display: flex;
        justify-content: flex-end;
      }
      .status-div-approved,
      .status-div-pending,
      .status-div-rejected{
        position: absolute;
        top: 30px;
        right: 56px;
        font-weight: 600;
        border: solid 1px black;
        padding: 6px 12px;
        border-radius: 9px;
        cursor: context-menu;
      }
      .status-div-approved{
        color: green;
       
      }
      .status-div-pending{
        color: orange;

      }
      .status-div-rejected{
        color: red;
        
      }
      .status-tabs{
      
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 550;
      gap: 20px;
      margin-top: 90px;
      margin-bottom: 20px;
      }
      .status-tabs-principal{
        display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 550;
      gap: 20px;
      margin-top: 10px;
      margin-bottom: 20px;
      }
      .tab-pending{
        margin-left: 70px;
      }
      .messages{
        margin-right: 30px;
        min-height: 500px;
        margin-left: 30px;
        
        
        background-color:rgb(255, 255, 255);
        
      }
      .tab{
        cursor: pointer;
        color: rgb(0, 0, 0);
        background-color: white;
        padding: 6px 12px;
        border-radius: 4px;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
      }
      
      .home-text, .Dashboard-text{
        cursor: pointer;
      }
      .stage-div{
        position: absolute;
        top: 30px;
        right: 170px;
        font-weight: 600;
        border: solid 1px black;
        padding: 10px;
        border-radius: 9px;
        cursor: context-menu;
      }