


body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(211, 210, 210);
        color: rgb(49, 49, 49);
        min-height: 100vh;
      }
      .approved-letter-div{
        border:none;
        padding:16px; 
        margin-left:10px;
        margin-right: 10px;
        margin-top: 20px;
        background-color: rgb(255, 255, 255);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius:6px;
        position: relative;
        border: solid 0px rgb(218, 218, 218) ;
        box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2),0px -3px 10px 0px rgba(0, 0, 0, 0.2);
      }
      .approved-letter-from,
      .approved-letter-subject,
      .approved-letter-body{
       
        padding-top: 20px;
      }
      .approved-letter-from-user{
        padding-left:45px ;
      }
      .approved-download-button{
        font-size: 13px;
        margin-right: 20px;
        padding: 10px;
        border-radius: 4px;
        border: none ;
        background-color: oklch(0.511 0.262 276.966);
        color: rgb(255, 255, 255);
        cursor: pointer;
        
      }
      .download-button-div{
        display: flex;
        justify-content: flex-end;
      }
      .status-div-approved,
      .status-div-pending,
      .status-div-rejected{
        position: absolute;
        top: 20px;
        right: 36px;
        font-weight: 550;
        border: solid 2px rgb(163, 163, 163);
        padding: 6px 12px;
        border-radius: 6px;
        cursor: context-menu;
        font-size: 15px;
        box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.2);
      }
      .status-div-approved{
        color: green;
       
      }
      .status-div-pending{
        color:orange;

      }
      .status-div-rejected{
        color: red;
        
      }
      .stage-div{
        position: absolute;
        top: 20px;
        right: 140px;
        font-weight: 600;
        border: solid 2px rgb(163, 163, 163);
        padding: 6px 12px;
        border-radius: 6px;
        cursor: context-menu;
        font-size: 15px;
        box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.2);
      }
      .status-tabs{
      
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 550;
      gap: 0px;
      margin-top: 110px;
      margin-bottom: 0px;
      padding-top: 20px;
      }
      .status-tabs-principal{
        display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 550;
      gap: 20px;
      margin-top: 10px;
      margin-bottom: 20px;
      }
      .tab-pending{
        margin-left: 40px;
       

      }
      .messages{
        margin-right: 30px;
        min-height: 500px;
        margin-left: 30px;
        
        
        background-color: rgb(255, 255, 255);
        
      }
      .tab:hover{
        background-color: rgb(231, 229, 229);
        transition: background-color 0.3s ease;
      }
      .tab{
        cursor: pointer;
        color: rgb(0, 0, 0);
        background-color: white;
        padding: 10px 14px;
        border-radius: 0px;

        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2),0px -3px 7px 0px rgba(0, 0, 0, 0.2);
      }
      
      .home-text, .Dashboard-text{
        cursor: pointer;
      }
      
      .tab-main{
        background-color: rgb(255, 255, 255);
        min-height: 100vh;
        padding-bottom: auto;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
        padding-top: 0px;
      }
      